{% extends 'base.html' %}

{% block content %}
  <p>
    <a href="{% url 'finished_goods_add' %}" class="btn btn-primary">Add Finished Good</a>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Item Grade</th>
        <th>Customer Name</th>
        <th>Category</th>
        <th>Cost Price</th>
        <th>Reference Date</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for material in raw_materials %}
        <tr>
          <td><a href="{% url 'raw_materials_edit' material.pk %}">{{ material.rm_name }}</a></td>
          <td>{{ material.price }}</td>
          <td>{{ material.manufacturer }}</td>
          <td>{{ material.supplier }}</td>
          <td>{{ material.compliance }}</td>
          <td>{{ material.notes }}</td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="3">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}